<app-details></app-details>
<div class="grid grid-cols-4">
    <div class="col-start-4">
        <label for="count" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Number of pages</label>
        <select id="noOfPages" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full " [(ngModel)] = "noOfPages" name="noOfPages">
            <option selected>Number of pages</option>
            <option value = "5">5</option>
            <option value = "10">10</option>
            <option value = "15">15</option>
            <option value = "20">20</option>
        </select>
    </div>
</div>
<app-display-repos (noOfPages)="noOfPages"></app-display-repos>


