<div>
    <div class="grid grid-cols-5 grid-flow-col">
        <div class="col-span-1 my-4 col-start-2" >
            <img src="{{this.image}}" class="rounded-full w-32 h-32 my-4"/>
            <h6><mat-icon>link</mat-icon>{{this.github}}</h6>
        </div>
        <div class="mt-5 flex flex-col justify-between col-start-3">
            <div class="text-xl font-bold">{{this.name}}</div>
            <div>{{this.bio}}</div>
            <div><mat-icon>place</mat-icon>{{this.location}}</div>
            <div>{{this.twitter}}</div>
        </div>
    </div>
</div>