<nav class="navbar bg-body-tertiary ">
  <div class="container-fluid">
    <form class="d-flex"  (ngSubmit) = "ngOnInit()">
      <label class="form-label col-md-4 my-2" >Enter the Username</label>
      <input class="form-control me-2 mx-4 my-auto d-inline w-100" type="text" placeholder="username" name="username" id="username" [(ngModel)]="username">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="grid h-screen place-items-center" *ngIf="this.username === '' else elseBlock" >
  <div class="font-bold text-3xl">
    Fyle Internship Challenge
  </div>
</div>
<ng-template #elseBlock>
  <router-outlet></router-outlet>
</ng-template>